/*color pallette
#5f0f40 - plum
#9A031E carmine- deepish red
#FB8B24 lighter orange
#E36414 spanish orange
#0F4C5C dark teal
*/

:root body {
  --pico-primary: #0f4c5c;
  --pico-background-color: #5f0f40;
  --pico-h1-color: #e36414;
}
